In [6]:
# Greet Message 
name = input("Enter your name :")
print(f"Good Afternoon {name} ")

Enter your name Sachin Singh

Good Afternoon Sachin Singh

In [12]:
# Q2. Letter template
name = input("Enter your name :")
date = input("Enter your date :")
print(f'''
Dear {name},
You are selected!
{date}''')


letter = '''Dear <|name|>,
You are selected!
<|date|>.'''
print(letter.replace("<|name|>", "Alok").replace("<|date|>", "12/12/2002"))

Enter your name : Sachin
Enter your date : 12/12

Dear Sachin ,
You are selected!
12/12
Dear Alok,
You are selected!
12/12/2002.

In [23]:
# Q3. Write a program to detect double space in a string.
str = "Hello this is   my first app   project"
print(str.find("  "))

13

In [27]:
# Q4. Replace the double space to the single space? 
str = "Alok   and     the Teza     are good   friends from the college."
result = str.replace("  ","")
print(result)

Alok and the Teza are good friends from the college.

In [32]:
# Q5. Write the program to format the following letter using escape sequence.
letter = "Dear Sachin,\n\t The python course is nice.\n\t Thanks!"
print(letter)

Dear Sachin,
	 The python course is nice.
	 Thanks!