In [5]:
# Question 16 â€” Dictionary Practice
# Ask the user to enter the names and ages of 3 people.
data = {}
name1 = input("Enter Your name :")
age1 = int(input("Enter your age :"))
name2 = input("Enter Your name :")
age2 = int(input("Enter your age :"))
name3 = input("Enter Your name :")
age3 = int(input("Enter your age :"))

data.update({name1:age1,name2:age2,name3:age3})
print(data)

Enter Your name : sachin
Enter your age : 20
Enter Your name : alok
Enter your age : 25
Enter Your name : aditya
Enter your age : 25

{'sachin': 20, 'alok': 25, 'aditya': 25}

In [21]:
# Q10. Check if a number is prime
# Write a Python program that takes a number from the user and checks whether it is a prime number or not.

number = int(input("enter a muber"))
if number % 2:
    print(f"{number} is a prime number")
else:
    print(f"{number} is a not prime number.")

enter a muber 12

12 is a not prime number.

In [28]:
# Take a string "hello python" and convert it to uppercase.
string = "hello python"
print(string.upper())

HELLO PYTHON

In [30]:
# String Practice: Count how many times "o" appears in the string "hello python"
string ="hello python"
result = string.count("o")
print(result)

2

In [33]:
# Reverse a string
string = "python learning"
print(string[::-1])

gninrael nohtyp

In [3]:
# Question:
# Add a new key "marks" with the value 95 and print the updated dictionary.
student = {
    "name": "Sachin",
    "age": 20,
    "course": "Python"
}
student.update({"marks":95})
print(student)

{'name': 'Sachin', 'age': 20, 'course': 'Python', 'marks': 95}

In [5]:
# Questions:
# Find the union of both sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set.union(set1,set2)
print(result)

{1, 2, 3, 4, 5, 6}

In [6]:
# Find the intersection
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set.intersection(set1,set2)
print(result)

{3, 4}

In [8]:
# find the difference
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set.difference(set1,set2)
print(result)

{1, 2}

In [10]:
# Find the union of both sets
# Find the intersection
# Find the difference (set1 - set2)
# Print all three results
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

result1 = set.union(set1,set2)
result2 = set.intersection(set1,set2)
result3 = set.difference(set1,set2)
print(f"Union is {result1}, Intersection is {result2}, Difference is {result3}")

Union is {1, 2, 3, 4, 5, 6}, Intersection is {3, 4}, Difference is {1, 2}

In [13]:
# Create a new list that contains only the even numbers from the above list.
numbers = [10, 20, 33, 40, 55, 60]

even_numbers = []  

if numbers[0] % 2 == 0:
    even_numbers.append(numbers[0])

if numbers[1] % 2 == 0:
    even_numbers.append(numbers[1])

if numbers[2] % 2 == 0:
    even_numbers.append(numbers[2])

if numbers[3] % 2 == 0:
    even_numbers.append(numbers[3])

if numbers[4] % 2 == 0:
    even_numbers.append(numbers[4])

if numbers[5] % 2 == 0:
    even_numbers.append(numbers[5])

print(even_numbers)

[10, 20, 40, 60]

In [20]:
# # Question:
# Change the value of "city" to "Mumbai
# Add a new key "country" with value "India"
# Print the updated dictionary
person = {
    "name": "Rahul",
    "age": 25,
    "city": "Delhi"
}

result = person.update({"city":"Mumbai","country":"India"})
print(person)

{'name': 'Rahul', 'age': 25, 'city': 'Mumbai', 'country': 'India'}

In [29]:
# Convert the string to lowercase
# Replace "Python" with "Java"
# Print the final result
text = "Python Programming"
text = text.lower()
print(text)
new_text = text.replace("python","java")
print(new_text)

python programming
java programming

In [34]:
# Add "grapes" to the list
# Replace "mango" with "kiwi"
# Print the updated list
fruits = ["apple", "banana", "mango", "orange"]
fruits.append("grapes")
fruits[2]="kiwi"
print(fruits)

['apple', 'banana', 'kiwi', 'orange', 'grapes']

In [42]:
# Questions:
# Add the number 50 to the set
# Remove 20 from the set
# Print the updated set

numbers = {10, 20, 30, 40}
numbers.add(50)
numbers.remove(20)
print(numbers)

{40, 10, 50, 30}

In [5]:
# Q1. Create a tuple with 5 numbers and print the first and last element.
# t = (1,2,3,4,5,6,7,8,"hello")
t = (10,20,30,40,50)
print(t[0])
print(t[len(t)-1])

10
50

In [11]:
# Q2. Check whether a number exists in a tuple.
t = (5, 10, 15, 20, 25)
n = int(input("enter a number"))

if n in t:
    print("Found")
else:
    print("Not Found")

enter a number 5

Found

In [13]:
# Q3. Count how many times a value appears in a tuple using count()
t = (1, 2, 3, 2, 4, 2, 5)
n = int(input("enter a number"))
result = t.count(n)
print(result)

enter a number 2

3

In [20]:
# Q4. Find the index of a value in a tuple using index()
t = ("apple", "banana", "cherry", "banana")
find = input("enter a value: ").lower()

if find in t:
    print(t.index(find))
else:
    print("Not Found")

enter a value:  Banana

1

In [22]:
# Q5. Create a tuple and print its length using len().
t = (10, 20, 30, 40, 50, 60)
length = len(t)
print(length)

6

In [23]:
# Q6. Write a program to find the largest and smallest number in a tuple.
t = (12, 45, 7, 89, 3, 22)
largest = max(t)
smallest = min(t)
print(f"Largest : {largest}")
print(f"Smallest : {smallest}")

Largest : 89
Smallest : 3

In [24]:
# Q1. Create a dictionary of a student with keys: name, age, marks.
details = {
    "name" : "Sachin Singh",
    "age" : 25,
    "marks" : 90
}
print(details)

{'name': 'Sachin Singh', 'age': 25, 'marks': 90}

In [25]:
# Q2. Print each value separately using keys.
details = {
    "name" : "Sachin Singh",
    "age" : 25,
    "marks" : 90
}
print(details["name"])
print(details["age"])
print(details["marks"])

Sachin Singh
25
90

In [26]:
# 
# Q2. Print each value separately using keys.
details = {
    "name" : "Sachin Singh",
    "age" : 25,
    "marks" : 90
}
details["city"] = "Gorakhpur"
print(details)

{'name': 'Sachin Singh', 'age': 25, 'marks': 90, 'city': 'Gorakhpur'}

In [27]:
# Q4. Update the value of "marks" to 95.
details = {
    "name" : "Sachin Singh",
    "age" : 25,
    "marks" : 90
}
details["marks"] = 95

print(details)

{'name': 'Sachin Singh', 'age': 25, 'marks': 95}

In [28]:
# Q5. Remove the key "age" from the dictionary using pop().
details = {
    "name" : "Sachin Singh",
    "age" : 25,
    "marks" : 90
}
details.pop("age")
print(details)

{'name': 'Sachin Singh', 'marks': 90}

In [29]:
# Q6. Loop through the dictionary and print all keys and values like this:
details = {
    "name" : "Sachin Singh",
    "age" : 25,
    "marks" : 90
}
for key, value in details.items():
    print(key, ":", value)

name : Sachin Singh
age : 25
marks : 90

In [37]:
# Function Question 1
a = int(input("Enter a Number 1st :"))
b = int(input("Enter a Number 2nd :"))

def multiply(a,b):
    return a * b
    
print(f" {a} X {b} = {multiply(a,b)}")

Enter a Number 1st : 5
Enter a Number 2nd : 5

 5 X 5 = 25

In [39]:
# Square a number ?
a = int(input("Enter a Number:"))

def square(a):
    return a * a
    
print(f"Square of {a} is  {square(a)}")

Enter a Number: 5

Square of 5 is  25

In [45]:
# Write a function is_even(n) that:
# Returns True if the number is even
# Returns False if the number is odd

a = int(input("Enter a Number: "))

def is_even(a):
    if a % 2 == 0:
        return True
    else:
        return False

print(is_even(a))

Enter a Number:  10

End
True

In [48]:
# Write a function that takes a number and returns its cube.
a = int(input("Enter a Number: "))
def cube(a):
    return a * a *a
print(f"Cube of {a} is {cube(a)}")

Enter a Number:  5

Cube of 5 is 125

In [8]:
# Write a function greet(name) that prints:
# "Hello, <name>! Welcome."
name = input("Enter a name..").upper()
def greet(name):
    # return(f"Hello {name}! Welcome")
    print(f"Hello {name}! Welcome")
# name = "Sachin"
# print(greet(name))
greet(name)

Enter a name.. alok

Hello ALOK! Welcome