In [5]:
# Question 16 â€” Dictionary Practice
# Ask the user to enter the names and ages of 3 people.
data = {}
name1 = input("Enter Your name :")
age1 = int(input("Enter your age :"))
name2 = input("Enter Your name :")
age2 = int(input("Enter your age :"))
name3 = input("Enter Your name :")
age3 = int(input("Enter your age :"))

data.update({name1:age1,name2:age2,name3:age3})
print(data)

Enter Your name : sachin
Enter your age : 20
Enter Your name : alok
Enter your age : 25
Enter Your name : aditya
Enter your age : 25

{'sachin': 20, 'alok': 25, 'aditya': 25}

In [21]:
# Q10. Check if a number is prime
# Write a Python program that takes a number from the user and checks whether it is a prime number or not.

number = int(input("enter a muber"))
if number % 2:
    print(f"{number} is a prime number")
else:
    print(f"{number} is a not prime number.")

enter a muber 12

12 is a not prime number.

In [28]:
# Take a string "hello python" and convert it to uppercase.
string = "hello python"
print(string.upper())

HELLO PYTHON

In [30]:
# String Practice: Count how many times "o" appears in the string "hello python"
string ="hello python"
result = string.count("o")
print(result)

2

In [33]:
# Reverse a string
string = "python learning"
print(string[::-1])

gninrael nohtyp

In [3]:
# Question:
# Add a new key "marks" with the value 95 and print the updated dictionary.
student = {
    "name": "Sachin",
    "age": 20,
    "course": "Python"
}
student.update({"marks":95})
print(student)

{'name': 'Sachin', 'age': 20, 'course': 'Python', 'marks': 95}

In [5]:
# Questions:
# Find the union of both sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set.union(set1,set2)
print(result)

{1, 2, 3, 4, 5, 6}

In [6]:
# Find the intersection
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set.intersection(set1,set2)
print(result)

{3, 4}

In [8]:
# find the difference
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set.difference(set1,set2)
print(result)

{1, 2}

In [10]:
# Find the union of both sets
# Find the intersection
# Find the difference (set1 - set2)
# Print all three results
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

result1 = set.union(set1,set2)
result2 = set.intersection(set1,set2)
result3 = set.difference(set1,set2)
print(f"Union is {result1}, Intersection is {result2}, Difference is {result3}")

Union is {1, 2, 3, 4, 5, 6}, Intersection is {3, 4}, Difference is {1, 2}

In [13]:
# Create a new list that contains only the even numbers from the above list.
numbers = [10, 20, 33, 40, 55, 60]

even_numbers = []  

if numbers[0] % 2 == 0:
    even_numbers.append(numbers[0])

if numbers[1] % 2 == 0:
    even_numbers.append(numbers[1])

if numbers[2] % 2 == 0:
    even_numbers.append(numbers[2])

if numbers[3] % 2 == 0:
    even_numbers.append(numbers[3])

if numbers[4] % 2 == 0:
    even_numbers.append(numbers[4])

if numbers[5] % 2 == 0:
    even_numbers.append(numbers[5])

print(even_numbers)

[10, 20, 40, 60]

In [20]:
# # Question:
# Change the value of "city" to "Mumbai
# Add a new key "country" with value "India"
# Print the updated dictionary
person = {
    "name": "Rahul",
    "age": 25,
    "city": "Delhi"
}

result = person.update({"city":"Mumbai","country":"India"})
print(person)

{'name': 'Rahul', 'age': 25, 'city': 'Mumbai', 'country': 'India'}

In [29]:
# Convert the string to lowercase
# Replace "Python" with "Java"
# Print the final result
text = "Python Programming"
text = text.lower()
print(text)
new_text = text.replace("python","java")
print(new_text)

python programming
java programming

In [34]:
# Add "grapes" to the list
# Replace "mango" with "kiwi"
# Print the updated list
fruits = ["apple", "banana", "mango", "orange"]
fruits.append("grapes")
fruits[2]="kiwi"
print(fruits)

['apple', 'banana', 'kiwi', 'orange', 'grapes']

In [42]:
# Questions:
# Add the number 50 to the set
# Remove 20 from the set
# Print the updated set

numbers = {10, 20, 30, 40}
numbers.add(50)
numbers.remove(20)
print(numbers)

{40, 10, 50, 30}

In [5]:
# Q1. Create a tuple with 5 numbers and print the first and last element.
# t = (1,2,3,4,5,6,7,8,"hello")
t = (10,20,30,40,50)
print(t[0])
print(t[len(t)-1])

10
50

In [11]:
# Q2. Check whether a number exists in a tuple.
t = (5, 10, 15, 20, 25)
n = int(input("enter a number"))

if n in t:
    print("Found")
else:
    print("Not Found")

enter a number 5

Found

In [13]:
# Q3. Count how many times a value appears in a tuple using count()
t = (1, 2, 3, 2, 4, 2, 5)
n = int(input("enter a number"))
result = t.count(n)
print(result)

enter a number 2

3

In [20]:
# Q4. Find the index of a value in a tuple using index()
t = ("apple", "banana", "cherry", "banana")
find = input("enter a value: ").lower()

if find in t:
    print(t.index(find))
else:
    print("Not Found")

enter a value:  Banana

1

In [22]:
# Q5. Create a tuple and print its length using len().
t = (10, 20, 30, 40, 50, 60)
length = len(t)
print(length)

6

In [23]:
# Q6. Write a program to find the largest and smallest number in a tuple.
t = (12, 45, 7, 89, 3, 22)
largest = max(t)
smallest = min(t)
print(f"Largest : {largest}")
print(f"Smallest : {smallest}")

Largest : 89
Smallest : 3

In [24]:
# Q1. Create a dictionary of a student with keys: name, age, marks.
details = {
    "name" : "Sachin Singh",
    "age" : 25,
    "marks" : 90
}
print(details)

{'name': 'Sachin Singh', 'age': 25, 'marks': 90}

In [25]:
# Q2. Print each value separately using keys.
details = {
    "name" : "Sachin Singh",
    "age" : 25,
    "marks" : 90
}
print(details["name"])
print(details["age"])
print(details["marks"])

Sachin Singh
25
90

In [26]:
# 
# Q2. Print each value separately using keys.
details = {
    "name" : "Sachin Singh",
    "age" : 25,
    "marks" : 90
}
details["city"] = "Gorakhpur"
print(details)

{'name': 'Sachin Singh', 'age': 25, 'marks': 90, 'city': 'Gorakhpur'}

In [27]:
# Q4. Update the value of "marks" to 95.
details = {
    "name" : "Sachin Singh",
    "age" : 25,
    "marks" : 90
}
details["marks"] = 95

print(details)

{'name': 'Sachin Singh', 'age': 25, 'marks': 95}

In [28]:
# Q5. Remove the key "age" from the dictionary using pop().
details = {
    "name" : "Sachin Singh",
    "age" : 25,
    "marks" : 90
}
details.pop("age")
print(details)

{'name': 'Sachin Singh', 'marks': 90}

In [29]:
# Q6. Loop through the dictionary and print all keys and values like this:
details = {
    "name" : "Sachin Singh",
    "age" : 25,
    "marks" : 90
}
for key, value in details.items():
    print(key, ":", value)

name : Sachin Singh
age : 25
marks : 90

In [37]:
# Function Question 1
a = int(input("Enter a Number 1st :"))
b = int(input("Enter a Number 2nd :"))

def multiply(a,b):
    return a * b
    
print(f" {a} X {b} = {multiply(a,b)}")

Enter a Number 1st : 5
Enter a Number 2nd : 5

 5 X 5 = 25

In [39]:
# Square a number ?
a = int(input("Enter a Number:"))

def square(a):
    return a * a
    
print(f"Square of {a} is  {square(a)}")

Enter a Number: 5

Square of 5 is  25

In [45]:
# Write a function is_even(n) that:
# Returns True if the number is even
# Returns False if the number is odd

a = int(input("Enter a Number: "))

def is_even(a):
    if a % 2 == 0:
        return True
    else:
        return False

print(is_even(a))

Enter a Number:  10

End
True

In [48]:
# Write a function that takes a number and returns its cube.
a = int(input("Enter a Number: "))
def cube(a):
    return a * a *a
print(f"Cube of {a} is {cube(a)}")

Enter a Number:  5

Cube of 5 is 125

In [8]:
# Write a function greet(name) that prints:
# "Hello, <name>! Welcome."
name = input("Enter a name..").upper()
def greet(name):
    # return(f"Hello {name}! Welcome")
    print(f"Hello {name}! Welcome")
# name = "Sachin"
# print(greet(name))
greet(name)

Enter a name.. alok

Hello ALOK! Welcome

In [1]:
# 1.creating a string
name = "Sachin Singh"
city = "Gorakhpur"

print(name, city)

Sachin Singh Gorakhpur

In [3]:
# 2. String Indexing
text = "Python"
print(text[0])
print(text[-1])

P
n

In [6]:
# 3. String Slicing
text = "Python"
print(text[0:4])
print(text[2:])
print(text[:3])

Pyth
thon
Pyt

In [7]:
# 4. Comman String Method
name = "Sachin Singh"

print(name.upper())
print(name.lower())
print(name.capitalize())
print(len(name))

SACHIN SINGH
sachin singh
Sachin singh
12

In [8]:
# 5. Check Substring
text = "I love Python"
print("Python" in text)

True

In [9]:
# Write a program that:
# Takes a string input
# Prints the string in uppercase
# Prints the length of the string
greet = "I am a good Boy"
print(greet.upper())
print(len(greet))

I AM A GOOD BOY
15

In [11]:
# Write a program that:
# Takes a string input from the user
# Prints the first character
# Prints the last character

userInput = input("Enter a string : ")
print(userInput[0])
print(userInput[-1])

Enter a string :  Hello Everyone

H
e

In [13]:
# Write a program that:
# Takes a string input
# Checks if the word "Python" exists in the string
# If yes â†’ print "Found"
# Else â†’ print "Not Found"

userInput = input("Enter a message :")

if("Python" in userInput):
    print("Found")
else:
    print("Not Found")

Enter a message : Sachin

Not Found

In [15]:
# Write a program that:
# Takes a string input
# Prints the first 5 characters of the string
# Prints the last 5 characters of the string

userInput = input("Enter a message :")

print(userInput[:5])
print(userInput[-5:])

Enter a message : Sachin Alok Ram

Sachi
k Ram

In [16]:
# Write a program that:
# Takes a string input
# Prints:
# The string in lowercase
# The string in capitalized form

userInput = input("Enter a message :")
print(userInput.lower())
print(userInput.capitalize())

Enter a message : alok ram Tripathi

alok ram tripathi
Alok ram tripathi

In [19]:
# 1. List of String
names = ["Sachin", "Rohan", "Amit", "Sunil"]
print(names)

['Sachin', 'Rohan', 'Amit', 'Sunil', 123]

In [20]:
# 2. Loop Through List
for name in names:
    print(name)

Sachin
Rohan
Amit
Sunil
123

In [22]:
# 3. Check String Condition in a List
names = ["Sachin", "Rohan", "Amit", "Sunil"]

for name in names:
    if name.startswith("R"):
        print(name)

Rohan

In [23]:
# 4. Convert All Names to Uppercase

names = ["Sachin", "Rohan", "Amit"]

for name in names:
    print(name.upper())

SACHIN
ROHAN
AMIT

In [33]:
# Write a program that:
# Has a list of names
# Prints only the names whose length is greater than 5

names = ["Sachin", "Rohan", "Amit"]

for name in names:
    if len(name) > 5:
        print(name, "â†’ length > 5")
    else:
        print(name, "â†’ length â‰¤ 5")

Sachin â†’ length > 5
Rohan â†’ length â‰¤ 5
Amit â†’ length â‰¤ 5

In [39]:
# Write a program that:
# Has a list of words
# Prints only the words that contain the letter "a"

words = ["Apple", "Mango", "Rose", "Banana", "Pen", "Bottel"]

for word in words:
 if "a" in word.lower():
     print(word)
else:
    print(words)

Apple
Mango
Banana
['Apple', 'Mango', 'Rose', 'Banana', 'Pen', 'Bottel']

In [7]:
# Write a program that:
# Has a list of sentences
# Prints only the sentences that contain the word "Python"

sentences = [
    "I love Python",
    "Java is powerful",
    "Python is easy",
    "I like coding"
]

for sentence in sentences:
    if "Python" in sentence:
        print(sentence)

I love Python
Python is easy

In [10]:
# Write a program that:
# Has a list of names
# Prints a greeting message only for names starting with "S"

names = ["Sachin", "Rohan", "Amit", "Sohan"]

for name in names:
    if name.startswith("S"):
        print(f"Hello {name}")

Hello Sachin
Hello Sohan

In [15]:
# Write a program that:
# Has a list of names
# Prints the names in UPPERCASE only if the name length is greater than 4

names = ["Sachin", "Rohan", "Amit", "Sohan"]

for name in names:
    if (len(name) > 4):
        print(name.upper())

SACHIN
ROHAN
SOHAN

In [19]:
# Write a program that:
# Has a list of words
# Counts how many words start with a vowel (a, e, i, o, u)

words = ["apple", "banana", "orange", "grape", "umbrella"]
count = 0
for word in words:
    if (word[0].lower() in "aeiou"):
        count +=1
        
print(count)

3

In [22]:
# Write a program that:
# Has a list of sentences
#Prints the total number of times the word "Python" appears (case-insensitive)

sentences = [
    "Python is easy",
    "I love python",
    "Python Python",
    "Java is different"
]

count = 0

for sentence in sentences:
    count += sentence.lower().count("python")

print(count)

4

In [3]:
# Function with List and Strings

# ðŸ”¹ 1. Function that Prints All Names

def print_names(names):
    for name in names:
        print(name)

names = ["Sachin", "Rohan", "Amit"]
print_names(names)

Sachin
Rohan
Amit

In [4]:
# ðŸ”¹ 2. Function that Returns Filtered Names

# Example: Return names starting with S

def names_start_with_s(names):
    result = []
    for name in names:
        if name.startswith("S"):
            result.append(name)
    return result

names = ["Sachin", "Rohan", "Sunil", "Amit"]
print(names_start_with_s(names))

['Sachin', 'Sunil']

In [5]:
# ðŸ”¹ 3. Function that Counts Words Containing a Letter

def count_with_a(words):
    count = 0
    for word in words:
        if "a" in word.lower():
            count += 1
    return count

words = ["apple", "pen", "banana"]
print(count_with_a(words))

2

In [33]:
# Write a function that:
# Takes a list of names
# Returns a list of names whose length is greater than 4

def names_with_length(names):
    result = []
    for name in names:
        if len(name) > 4:
            result.append(name)
    return result

names = ["Sachin", "Rohan", "Amit"]
print(names_with_length(names))

['Sachin', 'Rohan']

In [3]:
# Write a function that:
# Takes a list of words
# Returns how many words start with a vowel

def words_start_with(words):
    count = 0
    for word in words:
        if word[0].lower() in "aeiou":
            count += 1
    return count

words = ["apple", "banana", "orange"]
print(words_start_with(words))

2

In [8]:
# Write a function that:
# Takes a list of sentences
# Returns the total count of the word "python" (case-insensitive)

def find_words(sentences):
    count = 0
    for sentence in sentences:
        count += sentence.lower().count("python")
    return count

sentences = ["Python is easy", "I love python"]

print(find_words(sentences))

2

In [25]:
# Write a function that:
# Takes a list of names
# Returns a dictionary with:
# Key = name
# Value = length of the name
names = ["Sachin", "Rohan", "Amit"]

def name_len_dict(names):
    result = {}
    for name in names:
        result[name] = len(name)
    return result

names = ["Sachin", "Rohan", "Amit"]
print(name_len_dict(names))

{'Sachin': 6, 'Rohan': 5, 'Amit': 4}

In [30]:
# Write a function that:
# Takes a list of numbers
# Returns a new list containing only even numbers

def new_list_even_number(numbers):
    newList = []
    for number in  numbers:
        if number % 2 == 0:
            newList.append(number)
    return newList
numbers = [1, 2, 3, 4, 6]
print(new_list_even_number(numbers))

[2, 4, 6]

In [34]:
'''Practice Question 6
Write a function that:
Takes a list of words
Returns a list of words that are longer than 5 characters'''

def new_list_of_words(words):
    new_list = []
    for word in words:
        if len(word) > 5:
            new_list.append(word)
    return new_list

words = ["apple", "banana", "grapefruit"]

print(new_list_of_words(words))

['banana', 'grapefruit']