In [5]:
# Question 16 â€” Dictionary Practice
# Ask the user to enter the names and ages of 3 people.
data = {}
name1 = input("Enter Your name :")
age1 = int(input("Enter your age :"))
name2 = input("Enter Your name :")
age2 = int(input("Enter your age :"))
name3 = input("Enter Your name :")
age3 = int(input("Enter your age :"))

data.update({name1:age1,name2:age2,name3:age3})
print(data)

Enter Your name : sachin
Enter your age : 20
Enter Your name : alok
Enter your age : 25
Enter Your name : aditya
Enter your age : 25

{'sachin': 20, 'alok': 25, 'aditya': 25}

In [21]:
# Q10. Check if a number is prime
# Write a Python program that takes a number from the user and checks whether it is a prime number or not.

number = int(input("enter a muber"))
if number % 2:
    print(f"{number} is a prime number")
else:
    print(f"{number} is a not prime number.")

enter a muber 12

12 is a not prime number.

In [28]:
# Take a string "hello python" and convert it to uppercase.
string = "hello python"
print(string.upper())

HELLO PYTHON

In [30]:
# String Practice: Count how many times "o" appears in the string "hello python"
string ="hello python"
result = string.count("o")
print(result)

2

In [33]:
# Reverse a string
string = "python learning"
print(string[::-1])

gninrael nohtyp

In [3]:
# Question:
# Add a new key "marks" with the value 95 and print the updated dictionary.
student = {
    "name": "Sachin",
    "age": 20,
    "course": "Python"
}
student.update({"marks":95})
print(student)

{'name': 'Sachin', 'age': 20, 'course': 'Python', 'marks': 95}

In [5]:
# Questions:
# Find the union of both sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set.union(set1,set2)
print(result)

{1, 2, 3, 4, 5, 6}

In [6]:
# Find the intersection
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set.intersection(set1,set2)
print(result)

{3, 4}

In [8]:
# find the difference
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set.difference(set1,set2)
print(result)

{1, 2}

In [10]:
# Find the union of both sets
# Find the intersection
# Find the difference (set1 - set2)
# Print all three results
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

result1 = set.union(set1,set2)
result2 = set.intersection(set1,set2)
result3 = set.difference(set1,set2)
print(f"Union is {result1}, Intersection is {result2}, Difference is {result3}")

Union is {1, 2, 3, 4, 5, 6}, Intersection is {3, 4}, Difference is {1, 2}

In [13]:
# Create a new list that contains only the even numbers from the above list.
numbers = [10, 20, 33, 40, 55, 60]

even_numbers = []  

if numbers[0] % 2 == 0:
    even_numbers.append(numbers[0])

if numbers[1] % 2 == 0:
    even_numbers.append(numbers[1])

if numbers[2] % 2 == 0:
    even_numbers.append(numbers[2])

if numbers[3] % 2 == 0:
    even_numbers.append(numbers[3])

if numbers[4] % 2 == 0:
    even_numbers.append(numbers[4])

if numbers[5] % 2 == 0:
    even_numbers.append(numbers[5])

print(even_numbers)

[10, 20, 40, 60]

In [20]:
# # Question:
# Change the value of "city" to "Mumbai
# Add a new key "country" with value "India"
# Print the updated dictionary
person = {
    "name": "Rahul",
    "age": 25,
    "city": "Delhi"
}

result = person.update({"city":"Mumbai","country":"India"})
print(person)

{'name': 'Rahul', 'age': 25, 'city': 'Mumbai', 'country': 'India'}

In [29]:
# Convert the string to lowercase
# Replace "Python" with "Java"
# Print the final result
text = "Python Programming"
text = text.lower()
print(text)
new_text = text.replace("python","java")
print(new_text)

python programming
java programming

In [34]:
# Add "grapes" to the list
# Replace "mango" with "kiwi"
# Print the updated list
fruits = ["apple", "banana", "mango", "orange"]
fruits.append("grapes")
fruits[2]="kiwi"
print(fruits)

['apple', 'banana', 'kiwi', 'orange', 'grapes']

In [42]:
# Questions:
# Add the number 50 to the set
# Remove 20 from the set
# Print the updated set

numbers = {10, 20, 30, 40}
numbers.add(50)
numbers.remove(20)
print(numbers)

{40, 10, 50, 30}