In [4]:
# Q1. Write the program to store seven fruits in a list entered by user.
fruits = []
f1 = input("Enter fruit 1st : ")
fruits.append(f1)
f2 = input("Enter fruit 2nd : ")
fruits.append(f2)
f3 = input("Enter fruit 3rd : ")
fruits.append(f3)
f4 = input("Enter fruit 4th : ")
fruits.append(f4)
f5 = input("Enter fruit 5th : ")
fruits.append(f5)
f6 = input("Enter fruit 6th : ")
fruits.append(f6)
f7 = input("Enter fruit 7th : ")
fruits.append(f7)
print(fruits)

Enter fruit 1st :  Apple
Enter fruit 2nd :  Banana
Enter fruit 3rd :  Orange
Enter fruit 4th :  Mango
Enter fruit 5th :  Penapple
Enter fruit 6th :  Grapes
Enter fruit 7th :  Papaya

['Apple', 'Banana', 'Orange', 'Mango', 'Penapple', 'Grapes', 'Papaya']

In [9]:
# Q2. Write the 6 students marks
marks = []
m1 = int(input("Enter marks 1st : "))
marks.append(m1)
m2 = int(input("Enter marks 2nd : "))
marks.append(m2)
m3 = int(input("Enter marks 3rd : "))
marks.append(m3)
m4 = int(input("Enter marks 4th : "))
marks.append(m4)
m5 = int(input("Enter marks 5th : "))
marks.append(m5)
m6 = int(input("Enter marks 6th : "))
marks.append(m6)
m7 = int(input("Enter marks 7th : "))
marks.append(m7)

marks.sort()

print(marks)

Enter marks 1st :  78
Enter marks 2nd :  65
Enter marks 3rd :  54
Enter marks 4th :  98
Enter marks 5th :  100
Enter marks 6th :  33
Enter marks 7th :  45

[33, 45, 54, 65, 78, 98, 100]

In [14]:
# Q3. Write the program to sum a list with 5 numbers
number = [23,23,45,45,50]
print("The sum of the numbers are :",sum(number))

The sum of the numbers are : 186

In [15]:
# Q4. Write the program to count the number of zero in the following tuple.
a = (9,89,90,7,0,0,67,890)
zero = a.count(0)
print(zero)

2