In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [3]:
# range(start, stop, set_size)
for i in range (2, 11, 2):
    print(i)

2
4
6
8
10

In [4]:
count = 1
while count <= 5:
    print(count)
    count = count + 1

1
2
3
4
5

In [1]:
n = int(input("How many times? "))
for i in range(n):
    print("Hello", i)

How many times?  5

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4

In [2]:
# break → stop the loop immediately
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [3]:
# continue → skip current iteration
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [10]:
# Q1. Print numbers from 1 to 10 (using for loop)
i = 0;
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
# Q2. Print numbers from 10 to 1 (reverse using for loop)
# n = int(input("enter a number"))
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Q3: multiplication table.
number = int(input("Enter a Number"))
for i in range(1,11):
    print(f"{number} X {i} = {number * i}")

In [1]:
# Q4: Using while loop — print numbers from 1 to n. 
number = int(input("Enter a Number"))
i = 0
while(i < number):
    i = i+1
    print(i)

Enter a Number 5

1
2
3
4
5

In [3]:
# Q5. Sum of first N natural numbers (1+2+3+...+N)
number = int(input("Enter a Number"))

i = 1
total = 0

# while i <= number:
#     total = total + i
#     i += 1
# print("Sum is :", total)

for i in range(1, number+1):
    total = total + i
    
print(total)

Enter a Number 5

15

In [12]:
# Write a Python program to calculate the factorial of a given number N.
number = int(input("Enter a Number"))
i = 1
fact = 1 

# while i <= number:
#     fact = fact*i
#     i += 1
# print(fact)

for i in range(1, number+1):
    fact = fact * i
print(fact)

Enter a Number 5

120

In [18]:
# Write a program to multiplication table
number = int(input("Enter a Number"))
for i in range(1, 11):
    print(f"{number} X {i} = { number*i}")

Enter a Number 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [26]:
# Write a program to greet all the person names stored in a list l and start with S
l = ["Alok", "Harry", "Sachin", "Sunny", "Rohan", "Sameer"]

for name in l:
    if name.startswith("S"):
        print(name)

Sachin
Sunny
Sameer

In [35]:
# Table using while loop.
number = int(input("Enter a Number"))
i=0
while(i < 10):
    i+=1
    print(f"{number} X {i} = {number *i}")

Enter a Number 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [42]:
# Find the sum of natural number are ?
number = int(input("Enter a Number"))
i = 1
total = 0
for i in range(i,number+1):
    total = total+ i
print(total)

Enter a Number 5

15

In [44]:
# Find the factorial of natural number are ?
number = int(input("Enter a Number"))
i = 1
total = 1
for i in range(i,number+1):
    total = total * i
print(total)

Enter a Number 5

120

In [61]:
# Write a table start from the 10 to 1 
number = int(input("Enter a Number: "))

for i in range(10, 0, -1):
    print(f"{number} X {i} = {number * i}")

Enter a Number:  5

5 X 10 = 50
5 X 9 = 45
5 X 8 = 40
5 X 7 = 35
5 X 6 = 30
5 X 5 = 25
5 X 4 = 20
5 X 3 = 15
5 X 2 = 10
5 X 1 = 5

In [73]:
numbers = [12, 7, 5, 64, 14, 9, 22]
even = 0
odd = 0

for items in numbers:
    if items % 2 == 0:
        even += 1
    else:
        odd += 1

print("Even numbers:", even)
print("Odd numbers:", odd)

Even numbers: 4
Odd numbers: 3

In [76]:
# Q1. Add "Rohan" to a list of names using append()

names = ["Amit", "Sachin", "Vijay"]
names.append("Rohan")
print(names)

['Amit', 'Sachin', 'Vijay', 'Rohan']

In [78]:
# Q2. Insert "Sunil" at index 1 using insert()
names = ["Amit", "Rohan", "Vijay"]
names.insert(1,"Sunil")
print(names)

['Amit', 'Sunil', 'Rohan', 'Vijay']

In [84]:
# Remove "Rohan" from the list using remove()
names = ["Amit", "Sunil", "Rohan", "Vijay"]
names.remove("Rohan")
print(names)

['Amit', 'Sunil', 'Vijay']

In [85]:
# Remove the item at index 2 using pop()
names = ["Amit", "Sunil", "Vijay", "Rohan"]
names.pop(2)
print(names)

['Amit', 'Sunil', 'Rohan']

In [87]:
# Sort the following list in ascending order using sort()
numbers = [45, 12, 89, 3, 25]
numbers.sort()
print(numbers)

[3, 12, 25, 45, 89]

In [88]:
# Reverse the following list using reverse()
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [5]:
# Print 1 - n
n = int(input("Enter a number :"))
for i in range(1, 11):
    print(f"{n} X {i} = {n*i}")

Enter a number : 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

#####

In [1]:
n = int(input("Enter a number :")) 
i = 1
while(i<11):
    print(f"{n} X {i} = {n*i}")
    i += 1

Enter a number : 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [5]:
n = int(input("Enter a number: "))

for i in range(2, n):
    if n % i == 0:
        print("Number is Not Prime")
        break
else:
    print("Number is Prime")

Enter a number:  5

Number is Prime

In [7]:
n = int(input("Enter a number: "))

i = 1
sum = 0
while(i<=n):
    sum += i
    i += 1
print(sum)

Enter a number:  5

15

In [11]:
n = int(input("Enter a number: "))

i = 1
# sum = 1
# while(i<=n):
#     sum *= i
#     i += 1
# print(sum)

# same with for loop
product = 1
for i in range(1, n+1):
    product = product * i
print(f"The factorial of {n} is {product}")

Enter a number:  5

The factorial of 5 is 120

In [17]:
# Star Patttern 
n = int(input("Enter a number: "))
for i in range (1, n+1):
    print(" "* (n-i), end ="")
    print("*"* (2*i-1), end="")
    print("")

Enter a number:  3

  *
 ***
*****

In [22]:
# Star Patttern 
n = int(input("Enter a number: "))
for i in range (1, n+1):
    print("*"* i, end ="")
    print("")

Enter a number:  5

*
**
***
****
*****

In [26]:
# Star Patttern 
n = int(input("Enter a number: "))
for i in range (1, n+1):
     if(i==1 or i==n):
         print("*"* n, end ="")
     else:
         print("*", end="")
         print(" "* (n-2), end="")
         print("*", end="")
     print("")

Enter a number:  10

**********
*        *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
**********

In [27]:
n = int(input("Enter a number :")) 
i = 1
while(i<11):
    print(f"{n} X {11-i} = {n*(11-i)}")
    i += 1

Enter a number : 5

5 X 10 = 50
5 X 9 = 45
5 X 8 = 40
5 X 7 = 35
5 X 6 = 30
5 X 5 = 25
5 X 4 = 20
5 X 3 = 15
5 X 2 = 10
5 X 1 = 5